@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

/*definiseur de variable*/
:root{
    --BgDarkColor: #1e1725;
    --BgDarkColorText: #edd5f6;
}



body {
    color: #222;
    background: #F2F2F2;
    font: 100% system-ui;
    margin: 1em;
    font-family: 'Poppins', serif;

}
a {
    color: #0033cc;
}

button{
    background: #c9c9c9;
    border: 5px double #000;
}




/*Condition du mode dark actif*/
/*@media (prefers-color-scheme: dark) {*/
    body {
        color: var(--BgDarkColorText);
        background: var(--BgDarkColor);

    }

    body a {
        color: #809fff;
    }
    button, input, select,textarea{
        background: #803e8c;
        color: #f3dcfc;
        border: 5px double #000;
        padding: .5em;
    }
    label {
        margin-top: 1.5em;
    }
    input[type='submit'], button[type='submit'] {
        border-radius: .5em;
        margin-top: 2em;
    }

/*}*/

/*@media (prefers-color-scheme: dark) {*/

.attention {
    width: 330px;
    border-radius: 25px;
    border: 5px double #98979a;
    background: #8c3e3e;
    margin: 2em auto 2em;
    padding: 1em;
    color: #f3dcfc;
    text-align: center;

}
.corps {
    width: 330px;
    border-radius: 25px;
    background: #391b3f;
    margin: 2em auto;
    padding: 1em;
    text-align: center;


}

.corps h4, .corps h3 , .corps h2 , .corps p, .corps li {
    text-align: left;
    list-style-type: none;
}
//input.corps [type='text'] {
//    text-align: left;
//}

.EspCommantaire {
    width: 330px;
    border-radius: 25px;
    background: #391b3f;
    margin: 2em auto;
    padding: 1em;
}
.MyPopup {
    width: 330px;
    border-radius: 25px;
    background: #4cb718;
    margin: 2em auto;
    padding: 1em;
}


.cartequizzDiv {
    text-align: center;
    margin-top: 2em;
    margin-bottom: 2em;
    padding: 1em;
}
.cartequizz {
    width: 100%;
}

.boutonQCM {
    background: #c962dc;
    padding: .5em;
    letter-spacing: 3px;
    font-family: Arial, serif;

}

.Tableau{
    display:flex;
    justify-content: space-around;
    align-items: center;
    border: 1px rgb(91, 90, 93) solid;

}
.colonne, .colonneNum {
    border: 1px rgb(91, 90, 93) solid;
    width: 100px;
    height: auto;
    text-align: left;
    padding: .3em 1em;
}

.colonneNum {
    text-align: center;
}

.BoutonSort option {
    font-weight: 900;
}