@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

/*definiseur de variable*/
:root{
    --BgDarkColor: #1e1725;
    --BgDarkColorText: #edd5f6;
}

body {
    color: #222;
    background: #F2F2F2;
    font: 100% system-ui;
    margin: 1em;
    font-family: 'Poppins', serif;

}
a {
    color: #0033cc;
}

button{
    background: #c9c9c9;
    border: 5px double #000;
}





/*Condition du mode dark actif*/
/*@media (prefers-color-scheme: dark) {*/
    body {
        color: var(--BgDarkColorText);
        background: var(--BgDarkColor);

    }

    body a {
        color: #809fff;
    }
    button, input, select,textarea{
        background: #803e8c;
        color: #f3dcfc;
        border: 5px double #000;

    }
/*}*/

/*@media (prefers-color-scheme: dark) {*/

.attention {
    width: 330px;
    margin: 0 auto;
    border-radius: 25px;
    border: 5px double #98979a;
    background: #8c3e3e;
    margin-bottom: 2em;
    padding: 1em;
    color: #f3dcfc;
    text-align: center;

}
.corps {
    width: 330px;
    margin: 0 auto;
    border-radius: 25px;
    background: #391b3f;
    margin-top: 2em;
    margin-bottom: 2em;
    padding: 1em;

}
.EspCommantaire {
    width: 330px;
    margin: 0 auto;
    border-radius: 25px;
    background: #391b3f;
    margin-top: 2em;
    margin-bottom: 2em;
    padding: 1em;
}