

.disp12
{
    width: 200px;
    text-align: left;

}

.disp22
{
    width: 60px;
    text-align: right;

}

.CenterDiv
{

    font: 14px Arial, serif;
    display: flex;
    justify-content: space-around;

    align-items: center;
    /*!*display: inline-block;*!*/
    /*width: auto;*/
    height: auto;
    padding: .3em 1em;
    /*margin-left: auto;*/
    /*margin-right: auto;*/
    border: 1px rgb(91, 90, 93) solid;
    background-color: #573b5d;

    /*padding: 15px;*/


}


